/**
 * #media
 * media query
 */
@media (min-width:1440px * 0.22) {
  body {
    font-size: 100px * 0.22;
  }
}

@media (min-width:1440px * 0.25) {
  body {
    font-size: 100px * 0.25;
  }
}

@media (min-width:1440px * 0.3) {
  body {
    font-size: 100px * 0.3;
  }
}

@media (min-width:1440px * 0.35) {
  body {
    font-size: 100px * 0.35;
  }
}

@media (min-width:1440px * 0.4) {
  body {
    font-size: 100px * 0.4;
  }
}

@media (min-width:1440px * 0.45) {
  body {
    font-size: 100px * 0.45;
  }
}

@media (min-width:1440px * 0.5) {
  body {
    font-size: 100px * 0.5;
  }
}

@media (min-width:1440px * 0.55) {
  body {
    font-size: 100px * 0.55;
  }
}

@media (min-width:1440px * 0.6) {
  body {
    font-size: 100px * 0.6;
  }
}

@media (min-width:1440px * 0.65) {
  body {
    font-size: 100px * 0.65;
  }
}

@media (min-width:1440px * 0.7) {
  body {
    font-size: 100px * 0.7;
  }
}

@media (min-width:1440px * 0.75) {
  body {
    font-size: 100px * 0.75;
  }
}

@media (min-width:1440px * 0.8) {
  body {
    font-size: 100px * 0.8;
  }
}

@media (min-width:1440px * 0.85) {
  body {
    font-size: 100px * 0.85;
  }
}

@media (min-width:1440px * 0.9) {
  body {
    font-size: 100px * 0.9;
  }
}

@media (min-width:1440px * 0.95) {
  body {
    font-size: 100px * 0.95;
  }
}

@media (min-width:1440px) {
  body {
    font-size: 100px;
  }
}